@mixin transition($transition, $duration) {
    -webkit-transition-duration: $duration;
    -moz-transition-duration: $duration;
    transition-duration: $duration;
    
    -webkit-transition-timing-function: $transition;
    -moz-transition-timing-function: $transition;
    -ms-transition-timing-function: $transition;
    -o-transition-timing-function: $transition;
    transition-timing-function: $transition;
}

@mixin rotate($property) {
    -webkit-transform: rotate($property);
    -ms-transform: rotate($property);
    transform: rotate($property);
    
}

.linear-transition {
    @include transition(linear, 0.2s);
}

%width-100-percent {
    width: 100%;
}

%height-100-percent {
    height: 100%;
}

%left-absolute {
    float: left;
    position: absolute;
}

.foo-image-slider {
    @extend %height-100-percent;
    @extend %width-100-percent;
    overflow: hidden;
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    
    .btn {
        @extend %left-absolute;
        height: 38px;
        width: 38px;
        border-radius: 50%;
        border: 1px solid gainsboro;
        background:#ffffff url(../../images/arrow-head-right-black.svg) no-repeat center;
        background-size: 8px;
        cursor: pointer;
        opacity: .3;
        top: calc(50% - 18px);
    }
    
    .btn:hover {
        opacity: 1;
    }
    
    .btn:hover:active {
        opacity: 0.7;
    }
    
    .btn.left {
        left: 154px;
        @include rotate(180deg);
    }
    
    .btn.right {
        right: 154px;
    }
    
    .img {
        @extend %height-100-percent;
        @extend %left-absolute;
        width: 850px;
        background-color: transparent;
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: 100% auto;
        background-size: auto 100%;
        box-sizing: content-box;
        
        .caption {
            @extend %width-100-percent;
            @extend %left-absolute;
            bottom: 0;
            height: 200px;
            padding: 20px 40px 40px 40px;
            background-color: rgba(204, 204, 204, 0.7);
            
            .title,
            .date,
            .category {
                text-transform: uppercase;
                font-weight: bold;
            }
            
            .date,
            .category {
                font-size: 20px;
            }
            
            .title {
                font-size: 30px;
                margin-top: 10px;
            }
            
            .category {
                color: #ffffff;
                margin-right: 25px;
            }
        }
    }
    
    .img:not(:last-child) {
        border-right: 2px solid #ffffff;
    }
}