.foo-article {
    float: left;
    
    .image {
        height: 238px;
        background-color: rgba(0, 0, 0, 0.7);
        background-position: center center;
        background-repeat: no-repeat;
        -webkit-background-size: auto 100%;
        background-size: auto 100%;
        
        .close,
        .ranking {
            text-align: center;
            color: white;
            font-weight: bold;
        }
    
        .ranking {
            background-color: #333333;
            float: left;
            width: 30px;
            height: 30px;
            line-height: 30px;
            margin: 0;
        }
        
        .close {
            border: 1px solid gainsboro;
            cursor: pointer;
            background: rgba(255, 255, 255, 0.30) url(../../images/right-arrow-black.svg) no-repeat center;
            -webkit-background-size: 50%;
            background-size: 50%;
            width: 70px;
            height: 70px;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            float: right;
            margin: 20px 20px 0 0;
            opacity: .7;
        }
    
        .close:hover {
            border: 1px solid #333333;
            background-color: rgba(255, 255, 255, 0.70);
            opacity: 1;
        }
    
        .close:hover:active {
            opacity: .7;
        }
    }
    
    .image.small {
        width: 130px;
        height: 80px;
        float: left;
        margin-right: 10px;
    }
    
    .info {
        min-height: 100px;
        font-weight: bold;
        
        .category-date {
            height: 30px;
            line-height: 30px;
            .category {
                height: 100%;
                background-color: #333333;
                color: white;
                float: left;
                padding: 0 20px;
                text-transform: uppercase;
            }
            
            .date {
                border: 1px solid #333333;
                height: 100%;
                float: left;
                padding: 0 20px;
                background-color: white;
            }
        }
    
        .title {
            margin-top: 15px;
            font-size: 20px;
            line-height: 160%;
        }
    }
    
    .info:not(.small) {
        margin-top: -15px;
    }
    
    .info.small {
        font-size: 11px;
    
        .category-date {
            height: 20px;
            line-height: 20px;
        
            .category {
                padding: 0 10px;
            }
        
            .date {
                padding: 0 10px;
                border: none;
            }
        }
    
        .title {
            margin-top: 8px;
            font-size: 11px;
        }
    }
}

.foo-article:not(.full) {
    cursor: pointer;
}

.foo-article:not(.full):hover {
    opacity: .7;
}

.foo-article.full {
    .image {
        height: 730px;
    }
    
    .info {
        margin-top: -30px;
    }
    
    .title {
        font-size: 26px;
    }
}