.pretty-toastr-message-renderer ul{
    list-style: circle !important;
    margin-left: 15px !important;
    word-break: break-all;
    padding-left: 14px;
    margin-top: 0;
}

.pretty-toastr-message-renderer h3,
.pretty-toastr-message-renderer h4,
.pretty-toastr-message-renderer ul{
    margin-bottom: 5px;
}

@media screen and (min-width: 801px) {
    .redux-toastr .top-left, .redux-toastr .top-right, .redux-toastr .top-center, .redux-toastr .bottom-left, .redux-toastr .bottom-right, .redux-toastr .bottom-center {
        width: 400px !important;
    }
}