.foo-collapsible-content .content,
body, html {
    width: 1280px;
}

.foo-collapsible-content .content,
body, html {
    margin: auto;
}

body, html {
    font-family: 'M PLUS 1p', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-smooth: always;
    background-color: #fff;
}

* {
    box-sizing: border-box;
}

.no-overflow {
    overflow: hidden !important;
}

.clear-fix {
    overflow: auto;
    clear: both;
}

.clear-fix::after {
    content: "";
    clear: both;
    display: table;
}

.foo-collapsible-content .content,
.vertical-align,
.horizontal-align,
.middle-align {
    position: relative;
}

.middle-align,
.vertical-align {
    top: 50%;
}

.vertical-align {
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.middle-align,
.horizontal-align {
    left: 50%;
}

.horizontal-align {
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.middle-align {
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.foo-articles-section .right-panel,
.foo-articles-section .left-panel,
.foo-featured-section .featured,
.foo-logo-section .btns .links,
.foo-logo-section .btns .search,
.foo-logo-section .btns .links-wrapper,
.foo-logo-section .btns,
.foo-logo-section .logo,
body, html {
    height: 100%;
}

.foo-articles-section .right-panel .buttons > div,
.foo-articles-section .right-panel .ads,
.foo-articles-section .left-panel .buttons,
.foo-collapsible-content,
.foo-featured-section,
.foo-image-slider-wrapper {
    width: 100%;
}

.foo-image-slider-wrapper {
    height: 525px;
}

.foo-articles-section .right-panel .ranking .foo-article:not(:last-child),
.foo-featured-section,
.foo-logo-section {
    border-bottom: 1px solid #8C8C8C;
}

.foo-logo-section {
    height: 120px;
    line-height: 120px;
}

.foo-articles-section .right-panel,
.foo-articles-section .left-panel,
.middle-align,
.horizontal-align,
.foo-footer-section .links,
.foo-footer-section .links .link,
.foo-logo-section .btns .search,
.foo-logo-section .btns .links-wrapper,
.foo-logo-section .btns,
.foo-logo-section .logo {
    float: left;
}

.foo-logo-section .logo {
    width: 200px;
    background: transparent url(./images/foo.svg) no-repeat center;
    -webkit-background-size: 85%;
    background-size: 85%;
}

.foo-logo-section .btns {
    width: calc(100% - 200px)
}

.foo-articles-section .right-panel .ads,
.foo-articles-section .left-panel .buttons .more,
.foo-articles-section .right-panel .buttons > div,
.foo-footer-section .links .link,
.foo-logo-section .btns .links span:not(.selected),
.foo-logo-section .btns .search {
    cursor: pointer;
}

.foo-logo-section .btns .search {
    width: 80px;
    background: transparent url(./images/search.svg) no-repeat center;
    background-size: 50%;
}

.foo-logo-section .btns .links-wrapper {
    width: calc(100% - 80px)
}

.foo-logo-section .btns .links {
    float: right;
}

.foo-footer-section .links .link,
.foo-articles-section .left-panel .buttons .more,
.foo-articles-section .right-panel .ranking .label,
.foo-footer-section .copyright,
.foo-featured-section .label,
.foo-logo-section .btns .links span {
    font-weight: bold;
}

.foo-articles-section .left-panel .buttons .more,
.foo-logo-section .btns .links span {
    font-size: 22px;
}

.foo-logo-section .btns .links span {
    margin-right: 15px;
}

.foo-footer-section .links .link:hover,
.foo-logo-section .btns .links span.selected,
.foo-logo-section .btns .links span:hover {
    text-decoration: underline;
}

.foo-articles-section .right-panel .buttons > div:hover:active,
.foo-articles-section .right-panel .ads:hover,
.foo-articles-section .left-panel .buttons .more:hover:active,
.foo-logo-section .btns .links span:hover:active {
    opacity: .7;
}

.foo-featured-section {
    height: 600px;
}

.foo-articles-section .left-panel > div,
.foo-articles-section {
    display: inline-block;
}

.foo-articles-section,
.foo-featured-section {
    padding: 65px 20px;
}

.foo-articles-section .left-panel .buttons .more,
.foo-articles-section .right-panel .ranking .label,
.foo-featured-section .label {
    text-align: center;
}

.foo-featured-section .label {
    font-size: 42px;
    line-height: 90%;
    margin-top: 18px;
}

.foo-featured-section .featured {
    padding: 42px 0 65px 0;
}

.foo-articles-section .left-panel .foo-article:nth-child(odd),
.foo-featured-section .featured .foo-article:not(:last-child) {
    margin-right: 40px
}

.foo-articles-section .left-panel,
.foo-articles-section .right-panel {
    margin-top: 13px;
}

.foo-articles-section .right-panel {
    width: 33%;
    padding-left: 40px
}

.foo-articles-section .left-panel .buttons {
    margin-top: 55px;
}

.foo-articles-section .left-panel {
    width: 66%;
}

.foo-footer-section,
.foo-articles-section .left-panel .buttons .more {
    color: #ffffff;
}

.foo-footer-section,
.foo-articles-section .right-panel .buttons > div,
.foo-articles-section .left-panel .buttons .more {
    background-color: #333333;
}

.foo-articles-section .left-panel .buttons .more {
    width: 300px;
    height:55px;
    line-height:55px;
}

body, html,
.foo-articles-section .left-panel .buttons .more:hover {
    color: #333333;
}

.foo-articles-section .right-panel .ads {
    border: 1px solid #cccccc;
    height: 335px;
    background: transparent url(./images/adPic.jpg) no-repeat center;
    background-size: 80%;
}

.foo-articles-section .right-panel .ads:hover:active {
    opacity: .3;
}

.foo-articles-section .right-panel .ranking {
    margin-top: 50px;
    display: inline-table;
}

.foo-articles-section .right-panel .ranking .label{
    font-size: 32px;
    margin-bottom: 5px;
}

.foo-articles-section .right-panel .ranking .foo-article:not(:first-child) {
    margin-top: 20px;
}

.foo-articles-section .left-panel .foo-article:not(:nth-child(1)):not(:nth-child(2)),
.foo-articles-section .right-panel .buttons {
    margin-top: 40px;
}

.foo-articles-section .right-panel .buttons > div {
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 50px;
    height:80px;
}

.foo-articles-section .left-panel .buttons .more:hover,
.foo-articles-section .right-panel .buttons > div:hover {
    background-color: #cccccc;
}

.foo-articles-section .right-panel .buttons > div:not(:first-child) {
    margin-top: 10px;
}

.foo-articles-section .right-panel .buttons .instagram {
    background-image: url(./images/instagram.svg);
}

.foo-articles-section .right-panel .buttons .line {
    background-image: url(./images/line.svg);
}

.foo-articles-section .right-panel .buttons .facebook {
    background-image: url(./images/facebook.svg);
}

.foo-articles-section .right-panel .buttons .twitter {
    background-image: url(./images/twitter.svg);
}

.foo-articles-section .right-panel .buttons .instagram:hover {
    background-image: url(./images/instagram-colored.svg);
}

.foo-articles-section .right-panel .buttons .line:hover {
    background-image: url(./images/line-colored.svg);
}

.foo-articles-section .right-panel .buttons .facebook:hover {
    background-image: url(./images/facebook-colored.svg);
}

.foo-articles-section .right-panel .buttons .twitter:hover {
    background-image: url(./images/twitter-colored.svg);
}

.foo-footer-section {
    height: 135px;
}

.foo-footer-section .links {
    height: 85px;
}

.foo-footer-section .copyright,
.foo-footer-section .links .link {
    font-size: 20px;
}

.foo-footer-section .links .link {
    padding: 0 30px;
}

.foo-footer-section .links .link:not(:last-child) {
    border-right: 3px solid #ffffff;
}

.foo-footer-section .copyright {
    border-top: 2px solid #ffffff;
    padding: 0 20px;
    text-align: right;
    height: 50px;
    line-height: 50px;
}

.foo-collapsible-content {
    position: fixed;
    display: block;
    background-color: #ffffff;
    top: 0;
    left: 101%;
    overflow-x: auto;
}